.navbar {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
  }
  
  
  .form-container {
    text-align: center;
    padding: 20px;
  }
  
  
  .signup-form {
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  
  .signup-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  
  .submit-btn {
    background: #007bff;
    color: whitesmoke;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .submit-btn:hover {
    background: #0056b3;
  }
  