/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: bisque;
  color: #333;
}

nav {
  background: gray;
  padding: 30px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;

}

nav ul li a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #007bff;
  text-align: center;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.loading {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.error {
  color: red;
  text-align: center;
  font-weight: bold;
}
